<h1> 普通人縮網址</h1>
<span>躺著快速縮網址生成短網址</span>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
  width="150px">

<div class="p-relative">
  <form action="./shorturls" id="main-form" role="form" method="post" autocomplete="off">
    <div class="main-form">
      <div class="row" id="single">
        <div class="col-md-9 shortfieldz">
          <i class="zmdi zmdi-link"></i>
          <input type="text" class="form-control main-input" onclick="In_ShowPosInfo()" name="orginalurl" value=""
            placeholder="貼上長網址">
        </div>
        <div class="col-md-3 shortbtnz">
          <button class="btn btn-primary btn-block main-button" id="shortenurl" type="submit">縮短</button>
        </div>
      </div>
    </div>
  </form>
  <!--/.form-->
</div>