<div>
  <h1> 普通人縮網址</h1>
  <span>躺著快速縮網址生成短網址</span>
</div>

<div>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
    width="100px">
</div>


<div class="p-relative">
  <form action="./shorturls" method="POST">
    <div class="container">
      <input type="text" class="form-control main-input" name="orginalUrl" placeholder="貼上長網址" required>
      <button class="btn btn-primary btn-block shorten" type="submit">縮短</button>
    </div>
  </form>
</div>